.img-first {
    background: url("../img/1.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-second {
    background: url("../img/2.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-therd {
    background: url("../img/3.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-four {
    background: url("../img/4.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-fif {
    background: url("../img/5.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.img-six {
    background: url("../img/1.png");
    min-width: 300px;
    width: 100%;
    min-height: 271px;
    height: 100%;
    background-size: cover;
}

.margin-top {
	margin-top: 10px;
}
.row-margin{
	margin: 0 !important;
}
.white-circle {
    background: #ffffffc2;
    width: 50%;
    height: 72%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 3%;*/
}

.white-circle:hover {
    color: #bc2336;
}

.indent {
	margin-left: 23%;
}

.margin-right {
	margin-left: 2%;
}

.social-logo {
	margin: 10px;
}

.social-logo>a:hover {
	color: #bc2437;
}

.burger-page {
	background-image: url(../img/burger.png);
	height: 80vh;
	width: 100%;
	background-position: bottom;
	background-size: cover;
}

.conteiner-page {
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80vh;
}
.conteiner-page> h1 {
	font-family: Lobster;
	font-size: 60px;
	font-weight: 400;
	line-height: 36px;
	font-variant: small-caps;
	color: #ffffff;
	letter-spacing: 5px;
}

.conteiner-page> h3 {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	font-variant: small-caps;
	margin-top: 1%;
}

.conteiner-page> div {
	border: 3px solid #bc2336;
	width: 300px;
	height: 55px;
	text-align: center;
	margin-top: 28px;
}
.conteiner-page> div> a {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	font-variant: small-caps;
	text-transform: none;
	text-decoration: none;
	letter-spacing: 1px;
	display: block;
	height: 100%;
	margin-top: 5px;
}

.content-page> h2{
	color: #000000;
	font-family: Lobster;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin-top: 3%;
}

.content-page> p {
	color: #000000;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin: 0 7% 3%;
}

.about-company {
	border: 1px solid #d0d0d0;
	background-color: #000000;
	text-align: center;

}

.about-company> h3 {
	color: #ffffff;
	font-family: Lobster;
	font-size: 24px;
	font-weight: 400;
	margin: 30px 0;

}

.about-company> p {
	color: #ffffff;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
line-height: 18px;
font-variant: small-caps;
}